<!DOCTYPE html>
<html>
<head>
<title>About</title>

<style>

body{
    background:#0f2027;
    color:white;
    font-family:Poppins;
    text-align:center;
    padding:50px;
}

.box{
    width:500px;
    margin:auto;
    background:rgba(255,255,255,0.1);
    padding:30px;
    border-radius:15px;
}

</style>
</head>

<body>

<div class="box">

<h1>About Me</h1>

<p>👋 Hi, I am <b>Reddy</b></p>

<p>
I am a developer passionate about AI and healthcare.
This project helps people check health risks using Machine Learning.
</p>

<p>
Skills: Python, Flask, AI, ML, Web Development
</p>

<a href="/" style="color:#00fff0">⬅ Back</a>

</div>

</body>
</html>
