<!DOCTYPE html>
<html>
<head>
<title>Contact</title>

<style>

body{
    background:#141e30;
    color:white;
    font-family:Poppins;
    text-align:center;
    padding:50px;
}

.box{
    width:500px;
    margin:auto;
    background:rgba(255,255,255,0.1);
    padding:30px;
    border-radius:15px;
}

</style>
</head>

<body>

<div class="box">

<h1>Contact Me</h1>

<p>📧 Email: kvashishtreddy@gmail.com</p>
<p>📱 Phone: +91 8928538421</p>
<p>🌐 GitHub: github.com/Reddy-PLK</p>

<a href="/" style="color:#00fff0">⬅ Back</a>

</div>

</body>
</html>
