<!DOCTYPE html>
<html>
<head>

<title>Health Check</title>

<style>

body{
    font-family:Arial;
    background:#0f172a;
    color:white;
    text-align:center;
}

form{
    background:#1e293b;
    width:350px;
    margin:50px auto;
    padding:25px;
    border-radius:15px;
}

input{
    width:90%;
    padding:10px;
    margin:10px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px 25px;
    background:cyan;
    border:none;
    border-radius:20px;
    cursor:pointer;
}

button:hover{
    background:#00ffaa;
}

</style>

</head>

<body>

<h2>🩺 Health Analysis</h2>


<form action="/predict" method="post">

<input type="number" step="any" name="fever" placeholder="Fever" required>

<input type="number" step="any" name="cough" placeholder="Cough" required>

<input type="number" step="any" name="headache" placeholder="Headache" required>

<input type="number" step="any" name="breathing_problem" placeholder="Breathing Problem" required>

<input type="number" step="any" name="fatigue" placeholder="Fatigue" required>

<button type="submit">Analyze</button>

</form>


{% if prediction %}
<h3>{{ prediction }}</h3>
{% endif %}

</body>
</html>
